.record-form {
    width: 25%;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    border: 5px solid black;
}

.nameBox {

}

.dropdown {
    display: flex;
    align-self: center;
    border: 2px solid black;
    border-radius: 4px;
}