.user-list-page {
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2%;
    text-align: center;
}

.users-form {
    margin: 2% 0%;
    width: 25%;
    display: flex;
    flex-flow: column wrap;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 5px #3BB54A;
}

.user-card {
    padding: 5%;
    font-family: proxima nova, montserrat, Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid black;
}

.button-modify {
    cursor: pointer;
    width: 20%;
    background: #3BB54A;
    color: #fff;
    font-family: proxima nova, montserrat, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: solid 2px white;
}

.button-delete {
    cursor: pointer;
    background: #3BB54A;
    color: #fff;
    font-family: proxima nova, montserrat, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: solid 2px white;
}

.modify-user-modal {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.user-update {
    margin: 5% 0%;
}