#login-page {
    display: flex;
    justify-content: center;
    position: relative;
}

#eco-soap-logo {
    width: 175px;
    height: 175px;
    margin-top: 4%;
    margin-bottom: 1%;
    position: absolute;
    z-index: 1;
}

#sign-in-widget {
    margin-top: 8%;
    position: absolute;
}

/* Width Break Points */
@media only screen and (max-width: 800px) {
    #sign-in-widget {
        margin-top: 10%
    }
}

@media only screen and (max-width: 480px) {
    #sign-in-widget {
        margin-top: 23%
    }
}

@media only screen and (max-width: 350px) {
    #sign-in-widget {
        margin-top: 24%
    }
}
@media only screen and (max-width: 320px) {
    #sign-in-widget {
        margin-top: 26%
    }
}

/* Height Break Points */
@media only screen and (max-height: 700px) {
    #sign-in-widget {
        margin-top: 30%
    }
}

@media only screen and (max-height: 640px) {
    #sign-in-widget {
        margin-top: 25%;
    }
}