* {
    height: 100%;
}

#login-page {
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 1px solid red; */
}

#eco-soap-logo {
    width: 145px;
    height: 125px;
    margin-top: 6%;
    margin-bottom: 1%;
    position: absolute;
    z-index: 1;
    /* border: 1px solid red; */
}

#sign-in-widget {
    margin-top: 8%;
    position: absolute;
    /* border: 1px solid black; */
}

/* Width Break Points */
@media only screen and (max-width: 800px) {
    #sign-in-widget {
        margin-top: 10%
    }
}
@media only screen and (max-width: 481px) {
    #sign-in-widget {
        margin-top: 25%
    }
}

/* Height Break Points */
@media only screen and (max-height: 750px) {
    #sign-in-widget {
        margin-top: 16.35%
    }
}