* { 
    text-align: center;
}

.button {
    text-decoration: none;
    /* background: #3BB54A; */
    color: #fff;
    font-size: 3vh;
    font-family: proxima nova, montserrat, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: solid 2px white;
}

.links {
    color: #fff;
}

.mapboxgl-canvas {
    width: 1050px;
    height: 550px;
    border: 3px solid #3BB54A;
}

/* .dashboardSection {
    display: flex;
    justify-content: center;
} */

.mapDiv {
    /* margin-top: 2vw;
    margin-left: 7vw; */
}