* { 
    text-align: center;
}

body {
    background-color: #fff;
}

.button {
    text-decoration: none;
    /* background: #3BB54A; */
    color: #fff;
    font-size: 3vh;
    font-family: proxima nova, montserrat, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: solid 2px white;
}

.links {
    color: #fff;
}