#map {
  margin: auto;
  width: 100%;
  height: 100vh;
}

.geocoder {
  margin: auto;
  margin-top: 30px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background: lightgray;
}

.markerStyles {
  height: 35px;
  width: 35px;
}

